fastapi
uvicorn[standard]
jinja2
python-dotenv
pymongo[srv]==3.11
sentence-transformers==3.4.1

langchain
langchain_community
langchain_openai
langchain_experimental
langchain-pinecone
pinecone[grpc]
python-multipart
groq
requests
# Local editable install if you have a local package

pypdf
