# Core FastAPI dependencies
fastapi==0.108.0
uvicorn[standard]==0.25.0
python-dotenv==1.0.0
pymongo[srv]==4.6.1

# LangChain and Pinecone
langchain==0.1.20
langchain-community==0.0.29
langchain-pinecone==0.0.6
pinecone-client==3.0.0

# Google Gemini (main dependency)
google-generativeai==0.4.1

# LLM
groq==0.4.2
pypdf==4.0.1
requests==2.31.0
numpy==1.26.4
